body{
    color: #2c1c13;
    background-color: #fffaeb;
    font-family: "Epilogue", sans-serif;
    font-size:20px;
    line-height:1.3;
    margin:0;
}

.content{
    margin: auto 3%;
}


ul{
    list-style-type: none;
}
  
@media (max-width: 610px) {
body {
    text-align: center; /* Center alignment for mobile */
}
#sparkle{
    display:none;
}
}

p{
    font-weight:500;
}

h1{
    font-family: "Fraunces", sans-serif;
    font-size:80px;
    color: #1E555C;
    margin:auto;
}

h2{
    font-family: 'Fraunces', serif;
    font-size:50px;
    margin:0px;
}

h3{
    font-family: 'Fraunces', serif;
    color: #569199;
    font-size:30px;
}

.award{
    font-family: 'Epilogue', sans-serif;
    color:#569199;
}

footer{
    padding:1% 3%;
    background-color: #1E555C;
    color:white;
    text-align:center;
}